@import '../override.styl'
// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// my colors
$homeBgColor = #ffffff
$frontColor = #ffffff
$btnBgColor = $accentColor
$btnHvColor = #ff021f
$footColor = #7f8c8d
